{% extends "base.html" %}
{% load static  %} 
{% block content %}

<section id="home">
    
    <div class="container">
		<div style="text-align:justify;width: 80%;">
            <p>This Website is meant to be used by teachers and students of SUST to process and manage their Thesis and Project works. Please login to continue.</p>
        </div>
	</div>
</section>
	
<!--<script src="{% static 'genomeManipulations/js/jquery-3.5.1.js' %}"></script>-->
<!--<script src="{% static 'genomeManipulations/js/jquery.dataTables.min.js' %}"></script>-->
<!-- <script>
    $(document).ready(function () {
        $('#allFountainPensTable').DataTable();
    });
</script> -->
{% endblock content%}