{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- <div class="content-section">
    <p><h1>History</h1></p>
    <div class="border-top pt-3">
        <ol>
            {% for history in work_history %}
            <li>
                <i>{{ history.time }}</i>
                <br>
                Operation : <b>{{ history.action }}</b>
                <br>
                Sequence : {{ history.sequence }}
                <br>
            </li>
            <br>
            {% endfor %}
        </ol>
    </div>
</div> -->

<section id="profile">
    <div class="content-section">
		<div class="row">

			<div class="col-md-12 col-sm-12">
				{% if team_info_full %}
					<b>Team Detail</b><br>
					<table class="display" style="width:100%">
						<tbody>
							<tr>
								<td>Course Teachers</td>
								<td>{{ team_info_full.teachers }}</td>
							</tr>
							<tr>
								<td>Supervisors</td>
								<td>{{ team_info_full.supervisors }}</td>
							</tr>
							<tr>
								<td>Students</td>
								<td>{{ team_info_full.students }}</td>
							</tr>
							<tr>
								<td>Course</td>
								<td>{{ team_info_full.course }}</td>
							</tr>
							<tr>
								<td>Team Name</td>
								<td>{{ team_info_full.name }}</td>
							</tr>
							<tr>
								<td>Year</td>
								<td>{{ team_info_full.year }}</td>
							</tr>
							<tr>
								<td>Title</td>
								<td>{{ team_info_full.title }}</td>
							</tr>
							<tr>
								<td>Status</td>
								<td>{{ team_info_full.status }}</td>
							</tr>
						</tbody>
					</table>
				{% endif %}
			</div>

<!--			<div class="col-md-12 col-sm-12">-->
<!--				<b>Team Up History:</b>-->
<!--                <br>-->
<!--                <br>-->
<!--				<link rel="stylesheet" type="text/css" href="{% static  'css/jquery.dataTables.min.css' %}">-->
<!--				<table id="all_history_table" class="display" style="width:100%">-->
<!--				<thead>-->
<!--					<tr>-->
<!--						<th scope="col">Team Name</th>-->
<!--						<th scope="col">Project/Thesis Title</th>-->
<!--						<th scope="col">course</th>-->
<!--						<th scope="col">Year</th>-->
<!--						<th scope="col">Status</th>-->
<!--					</tr>-->
<!--				</thead>-->
<!--				<tbody>-->
<!--					{% for team in teams %}-->
<!--					<tr>-->
<!--						<td>{{ team.name }}</td>-->
<!--						<td><b>{{ team.project_thesis_title }}</b></td>-->
<!--						<td>{{ team.course }}</td>-->
<!--						<td>{{ team.year }}</td>-->
<!--						<td>{{ team.status }}</td>-->
<!--					</tr>-->
<!--					{% endfor %}-->
<!--				</tbody>-->
<!--				</table>-->
<!--			</div>-->
		</div>
		</div>
</section>

<script src="{% static 'scripts/jquery-3.5.1.js' %}"></script>
<script src="{% static 'scripts/jquery.dataTables.min.js' %}"></script>
<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        $('#all_history_table').DataTable();-->
<!--    });-->
<!--</script>-->

{% endblock content%}